@inject NavigationManager NavigationManager

@using FoodShare.Pages.Donor
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization

@* Patrick God Tutorial *@
<CascadingAuthenticationState> 
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    Sorry, but you are not allowed to see this. :(
                    You should login to see this information
                </NotAuthorized>
            </AuthorizeRouteView>
                @* <Route Path="/feeders/{organization:string}" Component="@typeof(MoreInfo)"/> *@ 
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
             @* @{ 
                // redirect to home page if not found
                NavigationManager.NavigateTo("/"); 
            }  *@
        </NotFound>
    </Router>
 </CascadingAuthenticationState>
