@inject NavigationManager NavigationManager
@inject IShoppingListService ShoppingListService

 @*
 TO DO:
    - Do I want to add a dialog that asks if you are sure you want to delete x items?
    - Do I want to display the items that have been donated/accepted and just not make them editable?
    - Add an edit button on the right of the row and if the button is selected, the row becomes editable?

        For Update/Edit:
            there will be an edit button on the right of the row, if the button is selected, the row becomes editable?  

Get a list of all donation requests where donor id = null
    - cannot edit/delete a donation that has been accepted/donated

If the checkbox is selected the ids are added to an idsToDelete list and deleted when delete is selected*@

@if(currList == null)
{
    <p>content is loading</p>
}
else
{
<section class="card">
    <div class="card-header">
        <h4>Edit Shopping List</h4> 
    </div>
    <table id="shopping-list-table" class="table semester-table">
        <col><col><col>
        <thead>
            <tr class="table-header">
                <th></th>
                <th>Item Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in currList)
            {
                if(i.DonorId == null)
                {
                    <tr>
                        <td>
                            <input type="checkbox" asp-for="@i.selected" @bind-value="@i.selected" @bind-value:event="oninput">
                        </td>
                        <td>
                            <p>@i.ItemName</p>
                        </td>
                        <td>
                            <p>@i.Quantity @i.QuantityType</p>
                        </td>
                        @* <td>
                            <button class="add">Edit</button>
                        </td> *@
                    </tr>
                }
            }
        </tbody>
    </table>
            
            <div class="buttons">
                <button class="btn btn-primary button" @onclick="Back">
                    Back
                </button>
                <button @onclick="Delete" class="btn btn-primary button">
                    Delete
                </button>
            </div>
</section>
}


@code{
    [Parameter] public string? Id { get; set; }

    [CascadingParameter] public bool Edit { get; set; }

    //List of donation requests currently associated with the Feeder Id
    public List<DonationRequest> currList = new List<DonationRequest>();

    List<int> IdsToDelete = new List<int>();
    
    protected override async Task OnInitializedAsync()
    {
        currList = await ShoppingListService.GetItemsByFeeder(Id);
    }

    private void Delete()
    {
        
        foreach (var d in currList)
        {
            if (d.selected)
            {
                IdsToDelete.Add(d.Id);
            }
        }

        foreach (var id in IdsToDelete)
        {
            currList.RemoveAll(d => d.Id == id);
        }

        ShoppingListService.DeleteItems(IdsToDelete);

        IdsToDelete = new List<int>();
    }

    private void Back()
    {
        Edit = false;
        Console.WriteLine("Back: " + Edit);
        StateHasChanged();
        
        //This is a work around - want to find a way of doing this without having to have the whole page reload
        NavigationManager.NavigateTo("/", true);

    }

    //This is used to update the item if you put something in wrong
    //Need to add the functionality/decide if you want people to just have to delete the item and re-add it
    @* private void Update(int id)
    {
        var word = document.getElementById("id");
        word.contentEditable = true;
        word.focus();
    } *@ 
}