@* @page "/donor/home" *@

@* Auth0 *@
@* @attribute [Authorize] *@

@* PG AUTH & RBAUTH *@
@attribute [Authorize(Roles = "Donor")]

@inject IJSRuntime jsRuntime
@inject IShoppingListService ShoppingListService
@inject NavigationManager NavigationManager
@inject CurrentUserService cUserService

<body>
    <div class="page">
    <div class="wrapper">
        <div class="links">
            <h5>Welcome back! These are the locations near you that need donations:</h5>
            @* <button class="btn" @onclick="()=>FetchData()">Press me</button> *@
            @* <div class="form-control filter"> *@
            <div class="filter">
                <select @onchange="()=>location=!location" class="select">
                    <option @onselect="()=>location=true">Locations</option>
                    <option @onselect="()=>location=false">Items</option>
                </select>
                @if(!location)
                {
                    <select class="select"@bind="filter" @bind:event="onchange">
                        <option>Oldest to Newest</option>
                        <option>Newest to Oldest</option>
                    </select>
                }
                else if(location)
                {
                    <select class="select" @bind="filter" @bind:event="onchange">
                        <option >Closest to Furthest</option>
                        <option>Most items to least items</option>
                        <option>Least items to most items</option>
                    </select>
                }
                <button class="filter-btn" @onclick="()=>FetchData()">Filter</button>
            </div>
             @* @bind-value="i.ItemName" @bind-value:event="oninput" /> *@
        </div>
       

        @if(feeders != null)
        {
        <div class ="view_main">
                <div class="view_wrap list-view">
                    @foreach (Feeder feeder in @feeders)
                    {
                        <div class="view_item">
                            <div class="vi_left">
                                <img src="/images/HANDSHAKE.png" alt="tomato">    
                            </div>
                            <div class="vi_center">
                                <p class="title">@feeder.organization</p>
                                <p class="content">@feeder.branch</p>
                            </div>
                            <br/>
                            <div class="vi_right">
                                 @* <button class="btn" @onclick="()=> ShowMoreInfo(feeder)" >More Info</button> *@
                                 <button class="btn" @onclick="()=> ShowMoreInfo(feeder.id)" >More Info</button>
                            </div>
                        </div>
                    }
                </div>
        </div>
        }
        @if(items != null)
        {
        <div class ="view_main">
                <div class="view_wrap list-view">
                    @foreach (DonationRequest item in @items)
                    {
                        <div class="view_item">
                            <div class="vi_left">
                                @* <img src="/images/HANDSHAKE.png" alt="tomato">     *@

                            </div>
                            <div class="vi_center">
                                <p class="title">@item.ItemName</p>
                                <p class="content">@item.Quantity @item.QuantityType</p>
                            </div>
                            <br/>
                            <div class="vi_right">
                                 @* <button class="btn" @onclick="()=> ShowMoreInfo(feeder)" >More Info</button> *@
                                 
                                 @* Uncomment
                                 <button class="btn" @onclick="()=> ShowMoreInfo(item.FeederId)" >More Info</button> *@
                            </div>
                        </div>
                    }
                </div>
        </div>
        }

    </div>
</div>

</body>

               
@code{
    
    //this variable is true if the user is filtering by location and false if the user is filtering by item
    private bool location = true;

    UserInfo cUser = CurrentUserService._currentUser;
    
    protected override async Task OnInitializedAsync()
    {
        cUser = CurrentUserService._currentUser;
    } 

    public void goLogin()
    {
        NavigationManager.NavigateTo("/account/login");
    }

    string filter = "Closest to Furthest";

    @* private bool IsDisabled = false; *@

    public List<Feeder> feeders = null;
    
    public List<DonationRequest> items = null;
    
    //Not sure what this variable does
    public bool clicked = false;

    private async Task FetchData()
    {   
        items = null;
        feeders = null;     
        @* switch(filter)
        {
            } *@
            //LOCATION FILTER OPTIONS
            @* case "Closest to Furthest":
                feeders = await FeederService.GetFeedersCloseToFar();
                break;
            case "Most items to least items":
                feeders = await FeederService.GetFeedersMostToLeast();
                break;
            case "Least items to most items":
                feeders = await FeederService.GetFeedersLeastToMost();
                break; *@
            
            //ITEM FILTER OPTIONS
            @* case "Oldest to Newest":
                items = await ShoppingListService.GetAllItems();
                break;
            case "Newest to Oldest":
                items = await ShoppingListService.GetItemsNewToOld();
                break; *@

            //The default is not filtered 
            @* default:
                feeders = await FeederService.GetFeeders();
                break; *@
        clicked = true;

    }

    private void ShowMoreInfo(int id)
    {
        NavigationManager.NavigateTo($"donor/MoreInfo/{id}");
    }

}